{{#extends "base"}}

{{#block "content"}}
<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Username</th>
            <th>Total Cost</th>
            <th>Order Date</th>
            <th>Shipping Details</th>
            <th>Payment Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.user.username}}</td>
                <td>${{this.total_cost}}</td>
                <td>{{this.order_date}}</td>
                <td>
                    {{!conditional rendering}}
                    {{#if this.shipping_address_line_2}}
                        {{this.shipping_address_line_1}}
                        {{this.shipping_address_line_2}}
                    {{else}}
                        {{this.shipping_address_line_1}}
                    {{/if}}
                </td>
                <td>{{this.payment_type}}</td>
                <td>
                    <a href="" class="btn btn-primary btn-sm">Update</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}