{{#extends "base"}}

    {{#block "content"}}
    <div class="tableContainer">
        <h1 id="tableHeader" class="tableHeader mb-3">Cards Available!</h1>
        {{!comment in hbs}}
        {{!create a table to store the data from the cards collection, passed in from the bookshelf model}}
            <table class="table">
                <thead>
                    <tr>
                        {{!create a table heading for each column in the cards table}}
                        {{!id, name, rarity, format, condition, cost, stage, hit_points, flavor_text, image_url, thumbnail_url}}
                        <th>ID</th>
                        <th>Name</th>
                        <th>Rarity</th>
                        <th>Format</th>
                        <th>Condition</th>
                        <th>Cost</th>
                        <th>Stage</th>
                        <th>Hit Points</th>
                        <th>Flavor Text</th>
                        {{!TODO: add in image url and thumbnail url later?}}
                    </tr>
                </thead>
                <tbody>
                    {{!perform an each command to iterate through the cards, displaying them under the table headers}}
                    {{#each cards}}
                    <tr style="text-align: center">
                        <td>{{this.id}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.rarity}}</td>
                        <td>{{this.format}}</td>
                        <td>{{this.condition}}</td>
                        <td>${{this.cost}}</td>
                        <td>{{this.stage}}</td>
                        <td>{{this.hit_points}}</td>
                        <td>{{this.flavor_text}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
    </div>
    {{/block}}
{{/extends}}